@media only screen and (min-width: 32.5em) {
    h3 {
        text-decoration: underline;
        margin: 1rem 2rem 2rem 5rem;
        
    }
    .main{
        justify-content: center;
        align-items: center;

    }
    .head{
        background-color: var(--blue);
        display: flex;
        height: 110px;
    }




}