* {
    margin: 5px;
    padding: 0;
}


@media only screen and (min-width:64rem){

    .display{
        height: 100%;
        width: 95vw;
        overflow-y: hidden;
        margin-top: 1px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
    }

    body {
        background-color: #f5edab;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #input{
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    .top {
        height: 15vh;
        width: 90vw;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 4px 2px #888888;
        border-radius: 8px;
    }

    img{
        width: 200px;
        height: 200px;
    }
    #display{
        display: float;
    }


}